/*menutop*/
li {
		font-size: 1.3rem;
}
#topimg{
	width: 90px;
	height: 70px;
	margin-left: 100px;	
}
/*menubottom*/
#footer {
	height: 150px;
}
#footercontent {
	text-align: center;
	margin-top: 2%;
}
#access { 
	background-color: #A9A9A9;
 	font-style: #F8F8FF;
}
/*delete confirm */
#group1 {
	text-align: center;
	margin: 80px;
	padding: 50px;
}
#group2 {
	padding: 40px;
	margin-bottom: 50px;
}
#deletebutton{
	margin: 10px;
}
/*gameList*/
caption { 
    caption-side: top;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
#gntable {
	margin-top: 50px;
}
#glistimg {
	width: 200px;
	height: 100px;
}
#gnListtr > th {
	text-align: center;
}
#gnListtr > td {
	vertical-align: middle;
	text-align: center;
}
#gnbutton {
	margin: 50px 0;
}
/*gameListAdd*/
h3 {
	margin: 50px 0;
}
#gnbutton {
	margin-bottom: 50px;
}
#gnbutton > input {
	margin: 0px 10px;
}
/*gameListDetail*/
.galign {
	text-align: center;
}
#imgmain {
	width: 1000px;
	height: 600px;
	
}
#imgsub {
	width: 300px;
	height: 200px;
}
/*gameModify*/
#gbutton > input {
	margin: 10px 10px;
}
/*index*/
.carousel-item {
  height: 80vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*login*/
#logincontainer {
	height: 60%;
}
#loginform {
	margin: 10%;
	height: 50%;
}
#loginp {
	margin: 10%;
}
#login-form-group {
	width: 600px;
}
/*noticeAdd*/
legend {
	font-size: 1rem;
}
/*noticeModify*/
#trdes {
	height: 400px;
}
#thtitle {
	width: 300px;
}
#thdate {
	width: 250px;
}
#tdname {
	text-align: right;
	padding-right: 50px;
}
#ndetailbutton {
	margin: 50px 0;
}
/*noticeList*/
#thno {
	width: 150px;
}
#thtitle {
	width: 600px;
}
#thdate {
	width: 300px;
}






