@charset "UTF-8";

#information {
	padding: 10px;
	width: 780px;
	float: left;
}

#section {
	width: 700px;
	float: left;
	padding: 10px;
	text-align: left;
}

img {
	padding: 15px;
}

#wrap {
	overflow: hidden;
	padding: 10px;
}

h3 {
	color: white;
	width: 100%;
}

li {
	list-style: none;
	padding: 25px;
}

body {
	background-color: #E7E7EB;
}