<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<!-- 스프링 애노테이션 적용 범위 -->
	<context:component-scan base-package="com.web.boardgame"></context:component-scan>
	
	<!-- 로그인 Spring Security Login -->
	<sec:http auto-config="true" use-expressions="true">
		<sec:intercept-url pattern="/index.do" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/" access="permitAll" />
        <sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
				
		<sec:form-login login-page="/login.do" 
					login-processing-url="/login-processing"
					authentication-failure-url="/login.do?error=login"
					username-parameter="id"
					password-parameter="password" />
		
		<sec:access-denied-handler error-page="/access-denied.do" />
		<sec:csrf />			
	</sec:http>
	
	<!-- 비밀번호 암호화 하기 위해 빈 객체 선언 -->
	<bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</bean>
	
	
	<!-- 인증 처리를 위한 클래스 지정 -->
	<sec:authentication-manager>
		<sec:authentication-provider user-service-ref="customAdminDetailsService">
			<sec:password-encoder ref="bcryptEncoder" />
		</sec:authentication-provider>
	</sec:authentication-manager>
</beans>

